[mysqld]
plugin-load-add=file_key_management
file_key_management_filename=/etc/mysql/encryption/keyfile
file_key_management_encryption_algorithm=AES_CBC

innodb_encrypt_tables=ON
innodb_encrypt_log=ON
innodb_encryption_threads=4
